<div class="container onboarding first">

  <div class="progress">
    <div class="progress-circle-1"> </div>
    <div class="progress-circle-0"> </div>
    <div class="progress-circle-0"> </div>
  </div>

  <div class="onboarding-header">
    <h1>Let's build a profile</h1>
  </div>

  <%= simple_form_for @profile, url: wizard_path do |f| %>
    <%= f.input :field, label:'Choose your field of interest:', collection: Profile::INDUSTRIES, prompt: "e.g. IT", label_html: { class: 'font-weight-bold' }%>
    <%= f.input :job_title, label: 'Define your job title:', collection: Profile::JOBS, prompt: "e.g. Full Stack Developer", label_html: { class: 'font-weight-bold' } %>
    <%= f.input :experience, label: 'Choose your skill level:', collection: Profile::EXPERIENCES, prompt: "e.g. Junior", label_html: { class: 'font-weight-bold' } %>
    <%= f.submit "NEXT", class: "btn btn-main form-button" %>
  <% end %>
</div>

