<div class="container-index">
  <h1>Your Job Decks</h1>
  <p><strong>Select</strong> your job
  deck and start <strong>swiping</strong>! </p>

  <div class="cards">
    <% @profiles.each do |profile| %>

    <div class="card-container">
       <%= link_to swipe_path(user_id: current_user.id, profile_id: profile.id) do %>
        <% if profile.job_title == "Full-Stack Developer" %>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576769331/Fullstack_Test_gc1hml.png); position: relative;">
            <p><%= profile.job_title %></p>
          </div>
        <% elsif profile.job_title == "Front-End Developer"%>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576768955/Frontend_Test_Card_i265su.jpg); position: relative;">
            <p><%= profile.job_title %></p>
          </div>
        <% elsif profile.job_title == "Back-End Developer"%>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576769328/Backend_Test_lsr5lm.png); position: relative;">
            <p><%= profile.job_title %></p>
          </div>
        <% else %>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576769494/DefaultTest2_nfwwr0.png); position: relative;">
            <p><%= profile.job_title %></p>
          </div>
        <% end %>
      <% end  %>
      <div class="card-edit">
        <%= link_to "edit", profile_builder_path(profile.id, :first) %>
      </div>
    </div>
    <% end  %>

      <%= link_to new_profile_path do %>
        <div class="card-category card-plus" style="align-items: center; justify-content: center; display-flex: vertical;">
          <%= image_tag "https://res.cloudinary.com/therainycloud/image/upload/v1576129127/Create_a_new_Job_hunting_deck_mkivjs.png", class: "quick-fix-class" %>
        </div>
      <% end %>
  </div>
</div>

