<div class="container-index">
  <h1>Your Job Decks</h1>
  <p><strong>Select</strong> your job hunting
  deck and start <strong>swiping</strong>! </p>

  <div class="cards">
    <% @profiles.each do |profile| %>

    <div class="card-container">
       <%= link_to swipe_path(user_id: current_user.id, profile_id: profile.id) do %>
        <% if profile.job_title == "Full-Stack Developer" %>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576236747/1_lhnuaa.png); position: relative;">
            <p style="font-size: 12px; font-weight: 100; position: absolute;left: 37px; top: 15px;"><%= profile.job_title %></p>
          </div>
        <% elsif profile.job_title == "Front-End Developer"%>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576236748/3_papj1r.png); position: relative;">
            <p style="font-size: 12px; font-weight: 100; position: absolute;left: 37px; top: 15px;"><%= profile.job_title %></p>
          </div>
        <% elsif profile.job_title == "Back-End Developer"%>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576236748/2_mm1zej.png); position: relative;">
            <p style="font-size: 12px; font-weight: 100; position: absolute;left: 37px; top: 15px;"><%= profile.job_title %></p>
          </div>
        <% else %>
          <div class="card-category" style="background-image: url(https://res.cloudinary.com/therainycloud/image/upload/v1576237319/Untitled_design_13_geherm.png); position: relative;">
            <p style="font-size: 12px; font-weight: 100; position: absolute;left: 37px; top: 15px;"><%= profile.job_title %></p>
          </div>
        <% end %>
      <% end  %>
      <div class="card-edit">
        <%= link_to "edit", profile_builder_path(profile.id, :first) %>
      </div>
    </div>
    <% end  %>

      <%= link_to new_profile_path do %>
        <div class="card-category" style="align-items: center; justify-content: center; display-flex: vertical;">
          <%= image_tag "https://res.cloudinary.com/therainycloud/image/upload/v1576129127/Create_a_new_Job_hunting_deck_mkivjs.png", class: "quick-fix-class" %>
        </div>
      <% end %>
  </div>
</div>

