<div class="container onboarding">

  <div class="progress">
    <div class="progress-circle-1"> </div>
    <div class="progress-circle-1"> </div>
    <div class="progress-circle-0"> </div>
  </div>

  <div class="onboarding-header">
    <h1>Your dream job awaits</h1>
  </div>

  <%= simple_form_for @profile, url: wizard_path do |f| %>
    <%= f.input :languages, label: 'Select your languages', collection: ['English', 'Spanish', 'French', 'German'], as: :check_boxes %>
    <%= f.input :locations, label: 'Select your locations', collection: ['Barcelona', 'Madrid', 'Valencia', 'San Sebastian'], as: :check_boxes %>
    <%= f.input :contract_types, label: "Contract type:", collection: ['Full-time', 'Part-time', 'Freelance'], as: :check_boxes  %>
    <%= f.input :salary_min, label: 'Your minimum salary', as: :integer  %>

    <!-- <div class="form-group range optional profile_salary_min"><label class="range optional" for="profile_salary_min">Your desired salary</label>
      <input class="form-control-range numeric range optional" type="range" value="5" min="1" max="100" step="1" name="profile[salary_min]" id="profile_salary_min">
    </div> -->
    <%= f.submit "NEXT", class: "btn btn-main form-button"%>
  <% end %>
</div>

