<%= render 'show_stats' %>

<% unless @cards.empty? %>

  <div id="carouselExampleCaptions" class="carousel slide seeker-swipe" data-ride="carousel"  data-interval="false">
    <div class="carousel-inner">
      <% @cards.each do |card| %>
        <div class="carousel-item">
          <div class="swipe-card" data-posting=<%= card.id %>>
            <div class="swipe-content">
              <div class="swipe-photo-section">
                <div class="swipe-photo" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(<%= card.photo %>)"></div>
                <%= cl_image_tag card.company.logo, class: "avatar-large swipe-avatar" %>
              </div>
              <div class="swipe-description">
                <h2><%= card.job_title %></h2>
                <h4><%= card.company.name %> (<%= "#{card.experience}" %>)</h4>
                <p><%= card.description %></p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <div id="controls">
    <a class="carousel-control-prev control" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next control" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- accept and decline buttons -->
  <div class="swipe-answer">
    <%= link_to "H", accept_decline_matches_path({profile_id: @profile.id, posting_id: @cards.first.id, user_intention: 'declined'}), method: :post, remote: true, id: "decline", class: "btn-main answer-btn bubbly-button"%>
      <!-- <i class="fas fa-thumbs-down"</i> -->
    <%# end %>


    <%= link_to accept_decline_matches_path({profile_id: @profile.id, posting_id: @cards.first.id, user_intention: 'accepted'}), method: :post, remote: true, id: "accept", class: "btn-main answer-btn bubbly-button" do %>
      <i class="fas fa-thumbs-up"></i>
    <% end %>
  </div>




  <!-- popup for instant match -->
  <%= render 'popup' %>
<% end %>
