<ul>
  <% @postings.each do |posting| %>
    <li>
      <%#= cl_image_tag posting.photo %>
      <%= posting.job_title %>
      <%= posting.company.name %>
      <%= posting.description %>
      <%= link_to "Edit", edit_posting_path(posting) %>
      <ul>
        <% posting.locations.to_a.each do |location| %>
          <li>
            <%= location %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
