<div class="container">
  <% if @matches.count > 0 %>
    <div class="inbox">
      <% @matches.each do |match| %>
        <%= link_to match_path(match) do %>
          <div class="card-product">
            <img src=<%= "#{match.posting.company.logo}" %> />
            <div class="card-product-infos">
              <h2><%= "#{match.posting.job_title}" %> (<%= "#{match.posting.experience}" %>) </h2>
              <p style="text-align: left;"><strong><%= "#{match.posting.locations[0]}" %></strong></br>
              <%= "€ #{FormatMoney.euro_thousand_separate(match.profile.salary_min)}" %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  <% else %>
    <p style="text-align: center; margin-top: 20px;">Sorry! You don't have any matches yet :(</p>
    </div>
  <% end %>
</div>

<!-- pointless change -->
